{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }} {% endblock %}

{% block body %}
    <h2>{{ conference }} Conference</h2>

    {% if comments|length > 0 %}

        <div>There are {{ comments|length }} comments</div>

        {% for comment in comments %}
            <div class="container mt-3 mb-3">
                {% if comment.photofilename %}
                    <img style="width:200px; height: 200px;" class="img-responsive" src="{{ asset('./images/' ~ comment.photofilename) }}" />
                {% endif %}

                <h4>{{ comment.author }}</h4>
                <small>
                    {{ comment.createdAt|format_datetime('medium', 'short') }}
                </small>

                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}


        {% if previous >= 0 %}
            <a href="{{ path('conference', {id: conference.id, offset: previous}) }}">Previous</a>
        {% endif %}

        {% if next < comments|length %}
            <a href="{{ path('conference', {id: conference.id, offset: next}) }}">Next</a>
        {% endif %}

    {% else %}
        <div>No comments have been posted yet for this conference</div>
    {% endif %}
    <div class="container mb-3 mt-3 text-bg-primary">Helooooooooo</div>
{% endblock %}