{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }} {% endblock %}

{% block body %}
    <h2 class="text-center m-3">{{ conference }} Conference</h2>

    {% if comments|length > 0 %}

        <div class="container mt-3 mb-3">There are {{ comments|length }} comments</div>

        {% for comment in comments %}
            <div class="container mt-3 mb-3 bg-light">

                <h4>{{ comment.author }}</h4>

                <small>
                    {{ comment.createdAt|format_datetime('medium', 'short') }}
                </small>

                <p class="mt-2">{{ comment.text }}</p>

                {% if comment.photofilename %}
                    <img style="width:300px; height: 300px;" class="img-responsive" src="{{ asset('./uploads/photos/' ~ comment.photofilename) }}" />
                {% endif %}

            </div>
        {% endfor %}


        {% if previous >= 0 %}
            <a href="{{ path('conference', {slug: conference.slug, offset: previous}) }}">Previous</a>
        {% endif %}

        {% if next < comments|length %}
            <a href="{{ path('conference', {slug: conference.slug, offset: next}) }}">Next</a>
        {% endif %}

    {% else %}
        <div class="text-center">No comments have been posted yet for this conference</div>
    {% endif %}
    <div class="container bg-primary">
        <h2>Add your own feedback</h2>

        {{ form(comment_form) }}
    </div>


{% endblock %}